__pycache__/
*.pyc
.env
.venv/
*.xml
Data/*.xlsx
Data/*.json
Data/Certificates
!Data/Scheme/wyroznik.xml
*.zip
*.pdf
Invoices/*
Invoices_1/*
Faktury/*
raport.txt
.idea
*.ini

# --- PyInstaller ---
build/
dist/
*.spec